 
<body>

      <div class="container">

        <form id="register" class="validate-form form-signin">

          <h1>Coffee Script Validation Form</h1>

            <p>

              <label for="lastname">Last Name </label><span >*</span> 

              <input type="text" name="lastname" id="lastname" placeholder="enter lastname" required/> 

            </p>

            <p>

              <label for="firstname">First name <span >*</span> 

              <input type="text" name="firstname" id="firstname" placeholder="enter firstname" required  />

            </p>
            <p>
             <label for="email">Email<span >*</span> 
             <input type="text" placeholder="enter email" name="email" id="email"  required/>
            </p>
            <p>
             <label for="psw">Password<span >*</span> 
             <input type="password" placeholder="enter password" name="psw" id="psw"  required/>
            </p>

            <p>

              <label for="city">City <span >*</span> 

              <input type="text" name="city" id="city"  placeholder="enter city" required />

            </p>

            <p>

              <label for="code">Postal Code <span >*</span> 

              <input type="text" name="code" id="code" placeholder="enter postal code"  required />

            </p>

            <p>

              <label for="telephone">Phone number <span >*</span></label>

              <input type="text" name="phone" id="phone" placeholder="enter phone number" required />


            </p> 
            
           <button type="button" name="submit" id="submit" value="submit" class=" container registerbtn" >Register</button>
            
        </form>

      </div>

  </body>
